<div class="feed h-feed">
    {% if variant == "list" %}
    <ul class="feed-preview__list">
        {% for post in posts %}
        <li class="feed-preview__item">
            <a class="feed-preview__title" href="{{ post.href }}">{{ post.title }}</a>
            {% if post.date %}
            <time datetime="{{ post.date | atom_date }}">{{ post.date | date:"Jan 2, 2006" }}</time>
            {% endif %}
            {% if post.description %}
            <p>{{ post.description | striptags | truncate:160 }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="posts posts-list" id="posts-list">
        {% for post in posts %}
        {% include "partials/cards/card-router.html" %}
        {% endfor %}
    </div>
    {% endif %}
</div>
