{% extends "base.html" %}

{% block content %}
<div class="content-wrapper{% if config.components.doc_sidebar.enabled and post.toc %} content-wrapper--with-sidebar content-wrapper--sidebar-{{ config.components.doc_sidebar.position | default:'right' }}{% endif %}">
    <article data-pagefind-body>
        <header>
            <h1 data-pagefind-meta="title">{{ post.title }}</h1>
            {% if post.description %}
            <p class="visually-hidden" data-pagefind-meta="excerpt">{{ post.description | striptags }}</p>
            {% endif %}
            {# Pagefind image metadata for search thumbnails #}
            {% if post.cover_image %}
            <meta data-pagefind-meta="image[content]" content="{{ post.cover_image }}">
            {% elif post.Extra.image %}
            <meta data-pagefind-meta="image[content]" content="{{ post.Extra.image }}">
            {% elif post.Extra.thumbnail %}
            <meta data-pagefind-meta="image[content]" content="{{ post.Extra.thumbnail }}">
            {% elif config.seo.default_image %}
            <meta data-pagefind-meta="image[content]" content="{{ config.seo.default_image }}">
            {% endif %}
            {% if post.date %}
            <time datetime="{{ post.date | atom_date }}">{{ post.date | date:"January 2, 2006" }}</time>
            {% endif %}
            {% if post.tags %}
            <div class="tags">
                {% for tag in post.tags %}
                <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if post.Extra.guide_order and post.PrevNextFeed %}
            <div class="guide-info">
                <span class="guide-part">Part {{ post.Extra.guide_order }}</span>
                {% if post.Extra.difficulty %}
                <span class="guide-difficulty guide-difficulty--{{ post.Extra.difficulty }}">{{ post.Extra.difficulty }}</span>
                {% endif %}
                {% if post.Extra.estimated_time %}
                <span class="guide-time">{{ post.Extra.estimated_time }}</span>
                {% endif %}
            </div>
            {% endif %}
        </header>
        <div class="post-content{% if post.css_class %} {{ post.css_class }}{% endif %}">
            {{ body | safe }}
        </div>

        {# Guide series navigation #}
        {% include "partials/guide-navigation.html" %}
    </article>

    {% include "components/doc_sidebar.html" %}
</div>
{% endblock %}
