{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h1>{{ post.title }}</h1>
        {% if post.date %}
        <time datetime="{{ post.date | atom_date }}">{{ post.date | date:"January 2, 2006" }}</time>
        {% endif %}
        {% if post.tags %}
        <div class="tags">
            {% for tag in post.tags %}
            <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    <div class="content">
        {{ body | safe }}
    </div>
</article>
{% endblock %}
