{# Card Router - Routes to appropriate card template based on config mapping #}
{# Uses config.components.card_router.mappings to determine card type #}
{# Card types: article, note, photo, video, link, quote, guide, inline, contact, default #}

{# Look up card type from config mappings, defaulting to "default" #}
{% with card_type=config.components.card_router.mappings|getitem:post.template|default:"default" %}

{% if card_type == "article" %}
{% include "partials/cards/article-card.html" %}

{% elif card_type == "note" %}
{% include "partials/cards/note-card.html" %}

{% elif card_type == "photo" %}
{% include "partials/cards/photo-card.html" %}

{% elif card_type == "video" %}
{% include "partials/cards/video-card.html" %}

{% elif card_type == "link" %}
{% include "partials/cards/link-card.html" %}

{% elif card_type == "quote" %}
{% include "partials/cards/quote-card.html" %}

{% elif card_type == "guide" %}
{% include "partials/cards/guide-card.html" %}

{% elif card_type == "inline" %}
{% include "partials/cards/inline-card.html" %}

{% elif card_type == "contact" %}
{% include "partials/cards/contact-card.html" %}

{% else %}
{% include "partials/cards/default-card.html" %}
{% endif %}

{% endwith %}
