{% extends "base.html" %}

{% block title %}{{ feed.title | default:config.title | default:'Posts' }}{% endblock %}
{% block description %}{{ feed.description | default:config.description | default:'' }}{% endblock %}

{% block htmx %}
{% if page.pagination_type == "htmx" %}
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
{% elif page.pagination_type == "js" %}
<script src="{{ 'js/pagination.js' | theme_asset }}" defer></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="feed">
  {% if feed.title %}
  <header class="feed-header">
    <h1>{{ feed.title }}</h1>
    {% if feed.description %}<p>{{ feed.description }}</p>{% endif %}
  </header>
  {% endif %}

  <div class="posts posts-list" id="posts-list">
    {% if page.pagination_type == "js" %}
    {# For JS pagination, render ALL posts - JavaScript will handle showing/hiding #}
    {% for post in feed.posts %}
    {% include "partials/cards/card-router.html" %}
    {% endfor %}
    {% else %}
    {# For manual/htmx pagination, render only current page posts #}
    {% for post in page.posts %}
    {% include "partials/cards/card-router.html" %}
    {% endfor %}
    {% endif %}
  </div>

  {% if page.total_pages > 1 %}
  {% include "partials/pagination.html" %}
  {% endif %}
</div>
{% endblock %}
